Скачать данные из соревнования, пока можете работать только с train.csv. Считать их.

1) Посчитать основные статистики по каждому признаку (минимальные, максимальные, средние значения). Сделать выводы об адекватности этих статистик.

2) Посчитать для каждого признака, сколько в нем уникальных значений и как часто они встречаются. Сделать выводы по каждому признаку.

3) Используя выводы из двух предыдущих заданий, найдите те наблюдения, где есть пропуски, выбросы (неадекватные значения признака, которые отличаются от большинства), используя фильтрацию из pandas.

### Data fields

* Home Ownership - домовладение
  
* Annual Income - годовой доход
* Years in current job - количество лет на текущем месте работы
* Tax Liens - налоговые обременения
* Number of Open Accounts - количество открытых счетов
* Years of Credit History - количество лет кредитной истории
* Maximum Open Credit - наибольший открытый кредит (максимальная сумма, которая когда-либо была доступна клиенту)
* Number of Credit Problems - количество проблем с кредитом
* Months since last delinquent - количество месяцев с последней просрочки платежа
* Bankruptcies - банкротства
* Purpose - цель кредита
* Term - срок кредита
* Current Loan Amount - текущая сумма кредита (сумма, которую еще предстоит выплатить клиенту)
* Current Credit Balance - текущий кредитный баланс (сумма, которую может тратить клиент с кредитного счета)
* Monthly Debt - ежемесячный долг
* Credit Score - баллы кредитного рейтинга
* Credit Default - факт невыполнения кредитных обязательств (0 - погашен вовремя, 1 - просрочка)

## Подключение библиотек и скриптов

In [2]:
import pandas as pd
import numpy as np

## Загрузка данных

In [1]:
DATASET_PATH = 'train.csv'

In [3]:
df = pd.read_csv(DATASET_PATH)

In [4]:
df.head(10)

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0
5,Rent,NaN,7 years,0.0,12.0,14.6,366784.0,0.0,NaN,0.0,other,Long Term,337304.0,165680.0,18692.0,NaN,1
6,Home Mortgage,1511108.0,10+ years,0.0,9.0,20.3,388124.0,0.0,73.0,0.0,home improvements,Short Term,99999999.0,51623.0,2317.0,745.0,0
7,Rent,1040060.0,10+ years,0.0,13.0,12.0,330374.0,0.0,18.0,0.0,other,Short Term,250888.0,89015.0,19761.0,705.0,1
8,Home Mortgage,NaN,5 years,0.0,17.0,15.7,0.0,1.0,NaN,1.0,home improvements,Short Term,129734.0,19.0,17.0,NaN,0
9,Home Mortgage,NaN,1 year,0.0,10.0,24.6,511302.0,0.0,6.0,0.0,debt consolidation,Long Term,572880.0,205333.0,17613.0,NaN,1

## Обзор обучающего датасета

Посчитать основные статистики по каждому признаку (минимальные, максимальные, средние значения). Сделать выводы об адекватности этих статистик.

In [5]:
df.describe()

,Annual Income,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
count,5.943000e+03,7500.000000,7500.000000,7500.000000,7.500000e+03,7500.000000,3419.000000,7486.000000,7.500000e+03,7.500000e+03,7500.000000,5943.000000,7500.000000
mean,1.366392e+06,0.030133,11.130933,18.317467,9.451537e+05,0.170000,34.692600,0.117152,1.187318e+07,2.898332e+05,18314.454133,1151.087498,0.281733
std,8.453392e+05,0.271604,4.908924,7.041946,1.602622e+07,0.498598,21.688806,0.347192,3.192612e+07,3.178714e+05,11926.764673,1604.451418,0.449874
min,1.645970e+05,0.000000,2.000000,4.000000,0.000000e+00,0.000000,0.000000,0.000000,1.124200e+04,0.000000e+00,0.000000,585.000000,0.000000
25%,8.443410e+05,0.000000,8.000000,13.500000,2.792295e+05,0.000000,16.000000,0.000000,1.801690e+05,1.142565e+05,10067.500000,711.000000,0.000000
50%,1.168386e+06,0.000000,10.000000,17.000000,4.781590e+05,0.000000,32.000000,0.000000,3.095730e+05,2.093230e+05,16076.500000,731.000000,0.000000
75%,1.640137e+06,0.000000,14.000000,21.800000,7.935015e+05,0.000000,50.000000,0.000000,5.198820e+05,3.604062e+05,23818.000000,743.000000,1.000000
max,1.014934e+07,7.000000,43.000000,57.700000,1.304726e+09,7.000000,118.000000,4.000000,1.000000e+08,6.506797e+06,136679.000000,7510.000000,1.000000

Tax Liens - подумать над максимальным

Number of Open Accounts - 43 открытых счета (как то много)

Years of Credit History - максимальное +-

Maximum Open Credit - кредит на млрд (много слишком), а где min

Number of Credit Problems - максимальное +-

Months since last delinquent - выброс около максимального

Current Loan Amount - максимальное +-

Monthly Debt - где min, посмотреть max

Credit Score - Кредитный рейтинг рассчитывается в баллах от 1 до 999.

Посчитать для каждого признака, сколько в нем уникальных значений и как часто они встречаются. Сделать выводы по каждому признаку.

In [12]:
df['Home Ownership'].nunique()

4

In [33]:
df['Home Ownership'].unique()

array(['Own Home', 'Home Mortgage', 'Rent', 'Have Mortgage'], dtype=object)

In [11]:
df['Home Ownership'].value_counts()

Home Ownership
Home Mortgage    3637
Rent             3204
Own Home          647
Have Mortgage      12
Name: count, dtype: int64

In [13]:
df['Annual Income'].nunique()

5478

In [35]:
len(df['Annual Income'].unique())

5479

In [21]:
df['Annual Income'].value_counts().sort_index()

Annual Income
164597.0      1
175845.0      1
177251.0      1
191577.0      1
192223.0      1
             ..
8710740.0     1
8758449.0     1
8923844.0     1
9338880.0     1
10149344.0    1
Name: count, Length: 5478, dtype: int64

In [22]:
df['Years in current job'].nunique()

11

In [32]:
df['Years in current job'].unique()

array([nan, '10+ years', '8 years', '6 years', '7 years', '5 years',
       '1 year', '< 1 year', '4 years', '3 years', '2 years', '9 years'],
      dtype=object)

In [23]:
df['Years in current job'].value_counts()

Years in current job
10+ years    2332
2 years       705
3 years       620
< 1 year      563
5 years       516
1 year        504
4 years       469
6 years       426
7 years       396
8 years       339
9 years       259
Name: count, dtype: int64

In [26]:
df['Tax Liens'].nunique()

8

In [36]:
df['Tax Liens'].unique()

array([0., 3., 1., 2., 4., 6., 5., 7.])

In [27]:
df['Tax Liens'].value_counts()

Tax Liens
0.0    7366
1.0      83
2.0      30
3.0      10
4.0       6
6.0       2
5.0       2
7.0       1
Name: count, dtype: int64

In [37]:
df['Number of Open Accounts'].nunique()

39

In [44]:
len(df['Number of Open Accounts'].unique())

39

In [39]:
df['Number of Open Accounts'].value_counts()

Number of Open Accounts
9.0     728
11.0    692
10.0    677
8.0     638
7.0     613
12.0    562
6.0     504
13.0    465
14.0    420
5.0     325
15.0    313
16.0    265
17.0    232
4.0     212
18.0    143
19.0    139
3.0      95
20.0     93
21.0     78
23.0     59
24.0     50
22.0     49
25.0     32
2.0      28
28.0     14
27.0     14
26.0     12
30.0     11
29.0     10
32.0      6
33.0      6
31.0      6
34.0      2
37.0      2
43.0      1
41.0      1
38.0      1
35.0      1
42.0      1
Name: count, dtype: int64

In [40]:
df['Years of Credit History'].nunique()

408

In [42]:
len(df['Years of Credit History'].unique())

408

In [91]:
df['Years of Credit History'].value_counts().head(100)

Years of Credit History
15.0    104
16.0     99
16.5     91
17.0     86
17.5     83
       ...
21.8     31
14.9     31
11.5     31
13.2     31
19.2     30
Name: count, Length: 100, dtype: int64

In [45]:
df['Maximum Open Credit'].nunique()

6963

In [48]:
len(df['Maximum Open Credit'].unique())

6963

In [95]:
df['Maximum Open Credit'].value_counts()

Maximum Open Credit
0.0         65
319110.0     5
246224.0     3
344058.0     3
513524.0     3
            ..
668360.0     1
642224.0     1
779372.0     1
372812.0     1
480832.0     1
Name: count, Length: 6963, dtype: int64

In [49]:
df['Number of Credit Problems'].nunique()

8

In [50]:
df['Number of Credit Problems'].unique()

array([1., 0., 3., 2., 6., 4., 5., 7.])

In [51]:
df['Number of Credit Problems'].value_counts()

Number of Credit Problems
0.0    6469
1.0     882
2.0      93
3.0      35
4.0       9
5.0       7
6.0       4
7.0       1
Name: count, dtype: int64

In [52]:
df['Months since last delinquent'].nunique()

89

In [54]:
len(df['Months since last delinquent'].unique())

90

In [98]:
df['Months since last delinquent'].value_counts().tail(50)

Months since last delinquent
48.0     44
42.0     43
23.0     42
50.0     39
47.0     37
44.0     36
54.0     36
61.0     36
68.0     36
55.0     36
53.0     34
63.0     33
60.0     32
59.0     32
4.0      31
3.0      30
71.0     30
57.0     29
78.0     29
80.0     28
65.0     28
69.0     26
64.0     26
1.0      26
52.0     26
49.0     25
74.0     25
2.0      25
58.0     24
75.0     24
72.0     24
76.0     23
56.0     23
62.0     23
70.0     22
67.0     22
73.0     21
77.0     21
79.0     20
51.0     19
81.0     19
0.0      18
66.0     17
82.0      4
83.0      3
86.0      1
118.0     1
84.0      1
91.0      1
92.0      1
Name: count, dtype: int64

In [57]:
df['Bankruptcies'].nunique()

5

In [60]:
df['Bankruptcies'].unique()

array([ 1.,  0.,  3., nan,  2.,  4.])

In [59]:
df['Bankruptcies'].value_counts()

Bankruptcies
0.0    6660
1.0     786
2.0      31
3.0       7
4.0       2
Name: count, dtype: int64

In [61]:
df['Purpose'].nunique()

15

In [63]:
df['Purpose'].unique()

array(['debt consolidation', 'other', 'home improvements', 'take a trip',
       'buy a car', 'small business', 'business loan', 'wedding',
       'educational expenses', 'buy house', 'medical bills', 'moving',
       'major purchase', 'vacation', 'renewable energy'], dtype=object)

In [64]:
df['Purpose'].value_counts()

Purpose
debt consolidation      5944
other                    665
home improvements        412
business loan            129
buy a car                 96
medical bills             71
major purchase            40
take a trip               37
buy house                 34
small business            26
wedding                   15
moving                    11
educational expenses      10
vacation                   8
renewable energy           2
Name: count, dtype: int64

In [65]:
df['Term'].nunique()

2

In [66]:
df['Term'].unique()

array(['Short Term', 'Long Term'], dtype=object)

In [67]:
df['Term'].value_counts()

Term
Short Term    5556
Long Term     1944
Name: count, dtype: int64

In [68]:
df['Current Loan Amount'].nunique()

5386

In [71]:
len(df['Current Loan Amount'].unique())

5386

In [72]:
df['Current Loan Amount'].value_counts()

Current Loan Amount
99999999.0    870
218064.0        6
89298.0         6
222926.0        5
265826.0        5
             ...
351626.0        1
212498.0        1
187682.0        1
108922.0        1
26928.0         1
Name: count, Length: 5386, dtype: int64

In [73]:
df['Current Credit Balance'].nunique()

6592

In [76]:
len(df['Current Credit Balance'].unique())

6592

In [75]:
df['Current Credit Balance'].value_counts()

Current Credit Balance
0.0         53
191710.0     5
106818.0     4
83638.0      4
136401.0     4
            ..
445360.0     1
243371.0     1
25688.0      1
62054.0      1
288192.0     1
Name: count, Length: 6592, dtype: int64

In [77]:
df['Monthly Debt'].nunique()

6716

In [80]:
len(df['Monthly Debt'].unique())

6716

In [100]:
df['Monthly Debt'].value_counts().sort_index()

Monthly Debt
0.0         6
17.0        1
21.0        1
42.0        1
57.0        1
           ..
96177.0     1
100091.0    1
104036.0    1
110311.0    1
136679.0    1
Name: count, Length: 6716, dtype: int64

In [81]:
df['Credit Score'].nunique()

268

In [83]:
len(df['Credit Score'].unique())

269

In [102]:
df['Credit Score'].value_counts().tail(50)

Credit Score
604.0     1
6500.0    1
591.0     1
6180.0    1
586.0     1
6270.0    1
6850.0    1
6450.0    1
6610.0    1
620.0     1
6880.0    1
6670.0    1
6150.0    1
602.0     1
607.0     1
6770.0    1
6410.0    1
6920.0    1
631.0     1
6560.0    1
6490.0    1
6470.0    1
7010.0    1
6790.0    1
585.0     1
593.0     1
6110.0    1
619.0     1
6280.0    1
588.0     1
6210.0    1
6710.0    1
6910.0    1
6620.0    1
6780.0    1
6570.0    1
6160.0    1
609.0     1
589.0     1
590.0     1
606.0     1
6480.0    1
6830.0    1
599.0     1
6680.0    1
616.0     1
6600.0    1
629.0     1
6820.0    1
6060.0    1
Name: count, dtype: int64

In [85]:
df['Credit Default'].nunique()

2

In [86]:
df['Credit Default'].unique()

array([0, 1])

In [87]:
df['Credit Default'].value_counts()

Credit Default
0    5387
1    2113
Name: count, dtype: int64

Home Ownership - все хорошо

Annual Income - есть пропуски

Years in current job - есть пропуски

Tax Liens - больше одного засунуть в 1 класс

Number of Open Accounts - больше 30 засунуть в 30

Years of Credit History - поделить нацело на 5 или на 10

Maximum Open Credit - заменить 0 и также поделить данные на 50000 или 100000

Number of Credit Problems - со 2 по 7 закинуть в 1

Months since last delinquent - есть пропуски и рассмотерть последние 7 значений

Bankruptcies - есть пропуски и 2,3,4 закинуть в 1

Purpose - все что меньше 50 закинуть в other

Term - все хорошо

Current Loan Amount - жесткие выбросы в 99999999 и поделить сумму на 50000

Current Credit Balance - 0 оставить остальное делить на 50000 и прибавить 1

Monthly Debt - обработать 0 и возможно поделить на 1000

Credit Score - поделить на категории и обработать пропуски

Credit Default - дисбаланс данных

Используя выводы из двух предыдущих заданий, найдите те наблюдения, где есть пропуски, выбросы (неадекватные значения признака, которые отличаются от большинства), используя фильтрацию из pandas.

In [103]:
df

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,Rent,402192.0,< 1 year,0.0,3.0,8.5,107866.0,0.0,NaN,0.0,other,Short Term,129360.0,73492.0,1900.0,697.0,0
7496,Home Mortgage,1533984.0,1 year,0.0,10.0,26.5,686312.0,0.0,43.0,0.0,debt consolidation,Long Term,444048.0,456399.0,12783.0,7410.0,1
7497,Rent,1878910.0,6 years,0.0,12.0,32.1,1778920.0,0.0,NaN,0.0,buy a car,Short Term,99999999.0,477812.0,12479.0,748.0,0
7498,Home Mortgage,NaN,NaN,0.0,21.0,26.5,1141250.0,0.0,NaN,0.0,debt consolidation,Short Term,615274.0,476064.0,37118.0,NaN,0
7499,Rent,NaN,4 years,0.0,8.0,9.4,480832.0,0.0,NaN,0.0,debt consolidation,Short Term,26928.0,288192.0,9061.0,NaN,0

### Annual Income

In [109]:
df['Annual Income'].isna().sum()

1557

### Years in current job

In [111]:
df['Years in current job'].isna().sum()

371

### Tax Liens

In [129]:
len(df.loc[df['Tax Liens'] >= 1, 'Tax Liens'].values)

134

In [131]:
len(df.loc[df['Tax Liens'] == 0, 'Tax Liens'])

7366

### Number of Open Accounts

In [159]:
len(df.loc[df['Number of Open Accounts'] >= 12, 'Number of Open Accounts'])

2988

In [160]:
len(df.loc[df['Number of Open Accounts'] < 12, 'Number of Open Accounts'])

4512

### Years of Credit History

In [163]:
df['Years of Credit History'] // 5

0       5.0
1       3.0
2       7.0
3       4.0
4       2.0
       ...
7495    1.0
7496    5.0
7497    6.0
7498    5.0
7499    1.0
Name: Years of Credit History, Length: 7500, dtype: float64

In [166]:
(df['Years of Credit History'] // 5 + 1).value_counts()

Years of Credit History
4.0     2436
3.0     1967
5.0     1315
6.0      667
2.0      579
7.0      326
8.0      115
9.0       57
10.0      18
1.0       11
11.0       8
12.0       1
Name: count, dtype: int64

### Maximum Open Credit

In [169]:
len(df.loc[df['Maximum Open Credit'] == 0, 'Maximum Open Credit'])

65

In [175]:
(df.loc[df['Maximum Open Credit'] != 0, 'Maximum Open Credit'] // 50000 + 1).value_counts()

Maximum Open Credit
5.0       527
7.0       526
6.0       493
8.0       486
9.0       433
         ...
5311.0      1
95.0        1
819.0       1
87.0        1
86.0        1
Name: count, Length: 135, dtype: int64

In [176]:
(df.loc[df['Maximum Open Credit'] != 0, 'Maximum Open Credit'] // 100000 + 1).value_counts()

Maximum Open Credit
3.0       1020
4.0       1012
5.0        827
2.0        748
6.0        702
          ...
2656.0       1
410.0        1
44.0         1
187.0        1
43.0         1
Name: count, Length: 89, dtype: int64

### Number of Credit Problems

In [185]:
df.loc[df['Number of Credit Problems'] >= 1, 'Number of Credit Problems'].value_counts().values.sum()

1031

In [187]:
df.loc[df['Number of Credit Problems'] == 0, 'Number of Credit Problems'].value_counts().values[0]

6469

### Months since last delinquent

In [188]:
df['Months since last delinquent'].isna().sum()

4081

In [191]:
df['Months since last delinquent'].value_counts().tail(20)

Months since last delinquent
72.0     24
76.0     23
56.0     23
62.0     23
70.0     22
67.0     22
73.0     21
77.0     21
79.0     20
51.0     19
81.0     19
0.0      18
66.0     17
82.0      4
83.0      3
86.0      1
118.0     1
84.0      1
91.0      1
92.0      1
Name: count, dtype: int64

### Bankruptcies

In [192]:
df['Bankruptcies'].isna().sum()

14

In [195]:
df.loc[df['Bankruptcies'] >= 1, 'Bankruptcies'].value_counts().values.sum()

826

In [196]:
df.loc[df['Bankruptcies'] == 0, 'Bankruptcies'].value_counts().values[0]

6660

### Purpose

In [200]:
df['Purpose'].value_counts()

Purpose
debt consolidation      5944
other                    665
home improvements        412
business loan            129
buy a car                 96
medical bills             71
major purchase            40
take a trip               37
buy house                 34
small business            26
wedding                   15
moving                    11
educational expenses      10
vacation                   8
renewable energy           2
Name: count, dtype: int64

In [202]:
df['Purpose'].value_counts().tail(9).values.sum()

183

### Term

In [204]:
df['Term'].value_counts()

Term
Short Term    5556
Long Term     1944
Name: count, dtype: int64

### Current Loan Amount

In [211]:
len(df.loc[df['Current Loan Amount'] == 99999999, 'Current Loan Amount'])

870

In [212]:
(df['Current Loan Amount'] // 50000 + 1).value_counts()

Current Loan Amount
5.0       887
2000.0    870
4.0       767
3.0       757
7.0       738
6.0       662
9.0       523
2.0       453
8.0       394
11.0      319
16.0      251
10.0      240
13.0      193
12.0      156
1.0       131
14.0      118
15.0       41
Name: count, dtype: int64

### Current Credit Balance

In [213]:
len(df.loc[df['Current Credit Balance'] == 0, 'Current Credit Balance'])

53

In [216]:
(df.loc[df['Current Credit Balance'] > 0, 'Current Credit Balance'] // 50000 + 1).value_counts()

Current Credit Balance
3.0     1073
4.0      965
2.0      916
5.0      750
6.0      666
        ...
66.0       1
51.0       1
71.0       1
59.0       1
46.0       1
Name: count, Length: 64, dtype: int64

### Monthly Debt

In [218]:
df.loc[df['Monthly Debt'] == 0, 'Monthly Debt'].value_counts()

Monthly Debt
0.0    6
Name: count, dtype: int64

In [222]:
(df['Monthly Debt'] // 1000).value_counts().tail(40)

Monthly Debt
48.0     12
52.0      9
56.0      9
47.0      9
60.0      8
54.0      7
61.0      7
55.0      7
57.0      6
62.0      5
65.0      5
58.0      5
59.0      4
66.0      4
64.0      3
74.0      3
70.0      3
83.0      3
72.0      2
79.0      2
84.0      2
63.0      2
69.0      1
136.0     1
100.0     1
85.0      1
96.0      1
73.0      1
68.0      1
78.0      1
67.0      1
89.0      1
75.0      1
104.0     1
87.0      1
110.0     1
81.0      1
95.0      1
94.0      1
93.0      1
Name: count, dtype: int64

### Credit Score

In [223]:
df['Credit Score'].isna().sum()

1557

In [224]:
df.loc[df['Credit Score'] > 1000, 'Credit Score']

69      6470.0
87      7440.0
94      7010.0
96      7320.0
116     7390.0
         ...
7422    6690.0
7433    6060.0
7450    7290.0
7460    7470.0
7496    7410.0
Name: Credit Score, Length: 400, dtype: float64

In [228]:
df.loc[df['Credit Score'] < 600, 'Credit Score']

599     585.0
715     593.0
1455    588.0
2787    597.0
3475    589.0
3491    590.0
3717    594.0
3859    599.0
4589    598.0
4852    591.0
4914    597.0
6114    586.0
6331    594.0
7437    594.0
Name: Credit Score, dtype: float64

### Credit Default

In [230]:
df['Credit Default'].value_counts()

Credit Default
0    5387
1    2113
Name: count, dtype: int64