In [71]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

**Логистическая регрессия**

Логистическая регрессия используется для задач классификации, при этом вычисляется вероятность принадлежности события к определенному классу.

Задача алгоритма логистической регрессии - найти подходящие коэффициенты w при признаках x:

y = w<sub>0</sub> + w<sub>1</sub> * x<sub>1</sub> + w<sub>2</sub> * x<sub>2</sub> + ... + w<sub>m</sub> * x<sub>m</sub>

Величина z помещается в сигмоиндную функцию для вычисления вероятности:

f(x) = 1 / (1 + e<sup>-z</sup>)

Значение f(x) будет расположено на отрезке [0, 1].

f(x) - вероятность отнесения события к классу 1,

1 - f(x) - вероятность отнесения события к классу 0.

**Log loss**

Алгоритм логистической регрессии минимизирует величину logloss:

logloss = -y * ln(p) - (1 - y) * ln(1 - p)

где y - истинное значение (0 или 1), 

p - вычисленная алгоритмом вероятность того, что событие принадлежит к классу 1.

Чем ниже logloss, тем более точные ответы мы получаем используя логистическую регрессию.

**Titanic**

датасет: https://www.kaggle.com/c/titanic/data?select=train.csv

In [72]:
data = pd.read_csv('train.csv')

In [73]:
data.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

Установим в качестве индекса PassengerId - будет проще отслеживать, с информацией о каком пассажире мы работаем

In [74]:
data = data.set_index('PassengerId')

In [75]:
data.head()

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S

[5 rows x 11 columns]

In [76]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Наша задача - определить, выжил ли человек при крушении Титаника.

В поле Survived выжившие 1, утонувшие - 0.

In [77]:
target = 'Survived'

In [78]:
y = data[target]
y

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [79]:
X = data.drop(target, axis=1)
X

             Pclass  ... Embarked
PassengerId          ...
1                 3  ...        S
2                 1  ...        C
3                 3  ...        S
4                 1  ...        S
5                 3  ...        S
...             ...  ...      ...
887               2  ...        S
888               1  ...        S
889               3  ...        S
890               1  ...        C
891               3  ...        Q

[891 rows x 10 columns]

**Изучение качества данных и их очистка**

In [80]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

В поле Cabin слишком много пропущенных значений, не будем его рассматривать.

Столбцы Name и Ticket также не будем.

Удалим эти поля.

In [81]:
X = X.drop(['Cabin', 'Name', 'Ticket'], axis=1)
X

             Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                 3    male  22.0      1      0   7.2500        S
2                 1  female  38.0      1      0  71.2833        C
3                 3  female  26.0      0      0   7.9250        S
4                 1  female  35.0      1      0  53.1000        S
5                 3    male  35.0      0      0   8.0500        S
...             ...     ...   ...    ...    ...      ...      ...
887               2    male  27.0      0      0  13.0000        S
888               1  female  19.0      0      0  30.0000        S
889               3  female   NaN      1      2  23.4500        S
890               1    male  26.0      0      0  30.0000        C
891               3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

В поле возраст 20% значений не заполнено. Заменим пропущенные значения на значения среднего возраста.

In [82]:
mean_age = X['Age'].mean()
mean_age

np.float64(29.69911764705882)

In [83]:
X['Age'] = X['Age'].fillna(mean_age)

In [84]:
X['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

В поле Embarked, которое является текстовым, не хватает двух значений, заполним пропущенные значения наиболее часто встречающимся значением (мода)

In [85]:
X['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [86]:
embarked_mode = X['Embarked'].mode()[0]
embarked_mode

'S'

In [87]:
X['Embarked'] = X['Embarked'].fillna(embarked_mode)

In [88]:
X['Embarked'].value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [89]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB

**Работа с категориальными признаками**

Признак пола пассажира (Sex) - категориальная переменная. Так как в ней два класса, ты мы можем представить одной колонкой со значениями 0 и 1:

In [90]:
X['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [91]:
X['Sex'] = (X['Sex'] == 'female').astype(int)
X

             Pclass  Sex        Age  SibSp  Parch     Fare Embarked
PassengerId
1                 3    0  22.000000      1      0   7.2500        S
2                 1    1  38.000000      1      0  71.2833        C
3                 3    1  26.000000      0      0   7.9250        S
4                 1    1  35.000000      1      0  53.1000        S
5                 3    0  35.000000      0      0   8.0500        S
...             ...  ...        ...    ...    ...      ...      ...
887               2    0  27.000000      0      0  13.0000        S
888               1    1  19.000000      0      0  30.0000        S
889               3    1  29.699118      1      2  23.4500        S
890               1    0  26.000000      0      0  30.0000        C
891               3    0  32.000000      0      0   7.7500        Q

[891 rows x 7 columns]

In [92]:
X['Sex'].value_counts()

Sex
0    577
1    314
Name: count, dtype: int64

Еще одна категориальная переменная - Embarked.

Преобразуем ее значения в dummy-переменные.

Теперь каждому ее значению будет отведен отдельный столбец, в котором возможны два числа:

1 (переменная равна данному значению), 

0 (переменная не равна данному значению)

In [93]:
X = pd.get_dummies(X)
X

             Pclass  Sex        Age  ...  Embarked_C  Embarked_Q  Embarked_S
PassengerId                          ...
1                 3    0  22.000000  ...       False       False        True
2                 1    1  38.000000  ...        True       False       False
3                 3    1  26.000000  ...       False       False        True
4                 1    1  35.000000  ...       False       False        True
5                 3    0  35.000000  ...       False       False        True
...             ...  ...        ...  ...         ...         ...         ...
887               2    0  27.000000  ...       False       False        True
888               1    1  19.000000  ...       False       False        True
889               3    1  29.699118  ...       False       False        True
890               1    0  26.000000  ...        True       False       False
891               3    0  32.000000  ...       False        True       False

[891 rows x 9 columns]

Переменная Embarked преобразовалась в дамми-переменные Embarked_C, Embarked_Q, Embarked_S

In [94]:
X.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [95]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Sex         891 non-null    int64
 2   Age         891 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Embarked_C  891 non-null    bool
 7   Embarked_Q  891 non-null    bool
 8   Embarked_S  891 non-null    bool
dtypes: bool(3), float64(2), int64(4)
memory usage: 51.3 KB

In [96]:
X[['Embarked_C', 'Embarked_Q', 'Embarked_S']] = X[['Embarked_C', 'Embarked_Q', 'Embarked_S']].astype(int)
X

             Pclass  Sex        Age  ...  Embarked_C  Embarked_Q  Embarked_S
PassengerId                          ...
1                 3    0  22.000000  ...           0           0           1
2                 1    1  38.000000  ...           1           0           0
3                 3    1  26.000000  ...           0           0           1
4                 1    1  35.000000  ...           0           0           1
5                 3    0  35.000000  ...           0           0           1
...             ...  ...        ...  ...         ...         ...         ...
887               2    0  27.000000  ...           0           0           1
888               1    1  19.000000  ...           0           0           1
889               3    1  29.699118  ...           0           0           1
890               1    0  26.000000  ...           1           0           0
891               3    0  32.000000  ...           0           1           0

[891 rows x 9 columns]

In [97]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Sex         891 non-null    int64
 2   Age         891 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Embarked_C  891 non-null    int64
 7   Embarked_Q  891 non-null    int64
 8   Embarked_S  891 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 69.6 KB

In [98]:
X.head(10)

             Pclass  Sex        Age  ...  Embarked_C  Embarked_Q  Embarked_S
PassengerId                          ...
1                 3    0  22.000000  ...           0           0           1
2                 1    1  38.000000  ...           1           0           0
3                 3    1  26.000000  ...           0           0           1
4                 1    1  35.000000  ...           0           0           1
5                 3    0  35.000000  ...           0           0           1
6                 3    0  29.699118  ...           0           1           0
7                 1    0  54.000000  ...           0           0           1
8                 3    0   2.000000  ...           0           0           1
9                 3    1  27.000000  ...           0           0           1
10                2    1  14.000000  ...           1           0           0

[10 rows x 9 columns]

Переменную Pclass можно отправить в модель в таком виде, какая она есть и сейчас, так как она представлена числами, но так как это все-таки не 

количественная переменная (например, нельзя сказать, что между классами 1 и 2 такая же "разность", как и между классами 2 и 3), то ее так же 

переведем в дамми-переменные. Для этого поменяем ее тип данных на category и применим еще раз функцию get_dummies ко всему датафрейму.

Эта функция переведет в дамми-переменные все нечисловые признаки.

In [99]:
X['Pclass'].unique()

array([3, 1, 2])

In [100]:
X['Pclass'] = X['Pclass'].astype('category')
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    category
 1   Sex         891 non-null    int64
 2   Age         891 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Embarked_C  891 non-null    int64
 7   Embarked_Q  891 non-null    int64
 8   Embarked_S  891 non-null    int64
dtypes: category(1), float64(2), int64(6)
memory usage: 63.6 KB

In [101]:
X = pd.get_dummies(X)
X

             Sex        Age  SibSp  ...  Pclass_1  Pclass_2  Pclass_3
PassengerId                         ...
1              0  22.000000      1  ...     False     False      True
2              1  38.000000      1  ...      True     False     False
3              1  26.000000      0  ...     False     False      True
4              1  35.000000      1  ...      True     False     False
5              0  35.000000      0  ...     False     False      True
...          ...        ...    ...  ...       ...       ...       ...
887            0  27.000000      0  ...     False      True     False
888            1  19.000000      0  ...      True     False     False
889            1  29.699118      1  ...     False     False      True
890            0  26.000000      0  ...      True     False     False
891            0  32.000000      0  ...     False     False      True

[891 rows x 11 columns]

In [102]:
X[['Pclass_1', 'Pclass_2', 'Pclass_3']] = X[['Pclass_1', 'Pclass_2', 'Pclass_3']].astype(int)
X

             Sex        Age  SibSp  ...  Pclass_1  Pclass_2  Pclass_3
PassengerId                         ...
1              0  22.000000      1  ...         0         0         1
2              1  38.000000      1  ...         1         0         0
3              1  26.000000      0  ...         0         0         1
4              1  35.000000      1  ...         1         0         0
5              0  35.000000      0  ...         0         0         1
...          ...        ...    ...  ...       ...       ...       ...
887            0  27.000000      0  ...         0         1         0
888            1  19.000000      0  ...         1         0         0
889            1  29.699118      1  ...         0         0         1
890            0  26.000000      0  ...         1         0         0
891            0  32.000000      0  ...         0         0         1

[891 rows x 11 columns]

In [103]:
X.columns

Index(['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [104]:
X.head(10)

             Sex        Age  SibSp  ...  Pclass_1  Pclass_2  Pclass_3
PassengerId                         ...
1              0  22.000000      1  ...         0         0         1
2              1  38.000000      1  ...         1         0         0
3              1  26.000000      0  ...         0         0         1
4              1  35.000000      1  ...         1         0         0
5              0  35.000000      0  ...         0         0         1
6              0  29.699118      0  ...         0         0         1
7              0  54.000000      0  ...         1         0         0
8              0   2.000000      3  ...         0         0         1
9              1  27.000000      0  ...         0         0         1
10             1  14.000000      1  ...         0         1         0

[10 rows x 11 columns]

**Цель разбиения данных на тренировочный, валидационный и тестовый датасеты**

В этот раз мы будем работать с разделением данных для модели более тщательно, мы разобьем данные из файла train.csv на две части:

тренировочный набор данных (признаки в X_train, целевая переменная в y_train) и валидационный (соответственно X_valid и y_valid).

На тренировочном датасете мы будем строить модель, а на валидационном - проверять ее качество. После проверки на валидационном сете

можно будет окончательно проверить модель на тестовом сете (содержится в файле test.csv по вышеуказанной ссылке - фактическое 

значение целевой переменной в тестовом наборе отсутствует, рекомендуется самостоятельно проверить точность данных при отправке

решения на странице соревнования).

In [105]:
X

             Sex        Age  SibSp  ...  Pclass_1  Pclass_2  Pclass_3
PassengerId                         ...
1              0  22.000000      1  ...         0         0         1
2              1  38.000000      1  ...         1         0         0
3              1  26.000000      0  ...         0         0         1
4              1  35.000000      1  ...         1         0         0
5              0  35.000000      0  ...         0         0         1
...          ...        ...    ...  ...       ...       ...       ...
887            0  27.000000      0  ...         0         1         0
888            1  19.000000      0  ...         1         0         0
889            1  29.699118      1  ...         0         0         1
890            0  26.000000      0  ...         1         0         0
891            0  32.000000      0  ...         0         0         1

[891 rows x 11 columns]

In [107]:
# Параметр test_size будет определять, какую долю данных из train.csv мы берем для валидационного датасета
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=42)

**Построение модели**

В начале работы над любой задачей рекомендуется сначала сделать простую модель, не затрачивая большого количества времени.

Затем можно будет оценивать новые модели, сравнивая их качество с качеством первоначальной (базовой) модели.

Сначала посмотрим на информацию о признаках:

In [110]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 668 entries, 299 to 103
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sex         668 non-null    int64
 1   Age         668 non-null    float64
 2   SibSp       668 non-null    int64
 3   Parch       668 non-null    int64
 4   Fare        668 non-null    float64
 5   Embarked_C  668 non-null    int64
 6   Embarked_Q  668 non-null    int64
 7   Embarked_S  668 non-null    int64
 8   Pclass_1    668 non-null    int64
 9   Pclass_2    668 non-null    int64
 10  Pclass_3    668 non-null    int64
dtypes: float64(2), int64(9)
memory usage: 62.6 KB

Все признаки - числовые, поэтому мы можем построить модель, используя все признаки.

In [111]:
lr = LogisticRegression()

In [112]:
lr.fit(X_train, y_train)

LogisticRegression()

In [113]:
y_pred = lr.predict(X_valid)

In [114]:
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0])

Метрика Accuracy (доля правильных ответов)

In [115]:
from sklearn.metrics import accuracy_score

In [116]:
accuracy_score(y_valid, y_pred)

0.8026905829596412

Можно сравнить с Accuracy на тренировочном датасете

In [117]:
y_pred_train = lr.predict(X_train)

In [118]:
accuracy_score(y_train, y_pred_train)

0.8083832335329342

**Вычисление вероятностей событий**

In [119]:
y_proba = lr.predict_proba(X_valid)

In [121]:
#Вероятности событий 0 и 1 для каждого пасссажира
y_proba

array([[0.88831594, 0.11168406],
       [0.73067479, 0.26932521],
       [0.87040428, 0.12959572],
       [0.08976523, 0.91023477],
       [0.2512522 , 0.7487478 ],
       [0.07820807, 0.92179193],
       [0.33314033, 0.66685967],
       [0.90547214, 0.09452786],
       [0.24431507, 0.75568493],
       [0.10305508, 0.89694492],
       [0.69433176, 0.30566824],
       [0.93500822, 0.06499178],
       [0.62516845, 0.37483155],
       [0.84808965, 0.15191035],
       [0.75857584, 0.24142416],
       [0.07880567, 0.92119433],
       [0.72748315, 0.27251685],
       [0.33305598, 0.66694402],
       [0.70245252, 0.29754748],
       [0.70644471, 0.29355529],
       [0.88408923, 0.11591077],
       [0.6427338 , 0.3572662 ],
       [0.39866422, 0.60133578],
       [0.86969962, 0.13030038],
       [0.89854001, 0.10145999],
       [0.92825944, 0.07174056],
       [0.56620371, 0.43379629],
       [0.72830965, 0.27169035],
       [0.91448475, 0.08551525],
       [0.42676834, 0.57323166],
       [0.866795  , 0.133205  ],
       [0.35883309, 0.64116691],
       [0.4812364 , 0.5187636 ],
       [0.41704582, 0.58295418],
       [0.86299708, 0.13700292],
       [0.86470553, 0.13529447],
       [0.58752717, 0.41247283],
       [0.33314033, 0.66685967],
       [0.06809483, 0.93190517],
       [0.90139031, 0.09860969],
       [0.71274409, 0.28725591],
       [0.92127726, 0.07872274],
       [0.90132458, 0.09867542],
       [0.86475091, 0.13524909],
       [0.43756428, 0.56243572],
       [0.91102319, 0.08897681],
       [0.86664963, 0.13335037],
       [0.88012348, 0.11987652],
       [0.88450412, 0.11549588],
       [0.66852721, 0.33147279],
       [0.26614052, 0.73385948],
       [0.21259931, 0.78740069],
       [0.96290124, 0.03709876],
       [0.48684864, 0.51315136],
       [0.95150801, 0.04849199],
       [0.07934002, 0.92065998],
       [0.73687978, 0.26312022],
       [0.05303509, 0.94696491],
       [0.18624893, 0.81375107],
       [0.2622144 , 0.7377856 ],
       [0.87402461, 0.12597539],
       [0.11614754, 0.88385246],
       [0.18912545, 0.81087455],
       [0.61150174, 0.38849826],
       [0.86475091, 0.13524909],
       [0.32620391, 0.67379609],
       [0.59347844, 0.40652156],
       [0.89940774, 0.10059226],
       [0.84666781, 0.15333219],
       [0.13251312, 0.86748688],
       [0.20061481, 0.79938519],
       [0.03547403, 0.96452597],
       [0.45282681, 0.54717319],
       [0.10169453, 0.89830547],
       [0.88081513, 0.11918487],
       [0.93347968, 0.06652032],
       [0.33881579, 0.66118421],
       [0.06382908, 0.93617092],
       [0.20735847, 0.79264153],
       [0.55895044, 0.44104956],
       [0.94389278, 0.05610722],
       [0.16592051, 0.83407949],
       [0.08371449, 0.91628551],
       [0.86475792, 0.13524208],
       [0.68143041, 0.31856959],
       [0.75889917, 0.24110083],
       [0.0621629 , 0.9378371 ],
       [0.06061743, 0.93938257],
       [0.69880118, 0.30119882],
       [0.90166516, 0.09833484],
       [0.85424241, 0.14575759],
       [0.55679458, 0.44320542],
       [0.80490429, 0.19509571],
       [0.86476257, 0.13523743],
       [0.90139031, 0.09860969],
       [0.89650644, 0.10349356],
       [0.76407217, 0.23592783],
       [0.93691203, 0.06308797],
       [0.19711064, 0.80288936],
       [0.8935029 , 0.1064971 ],
       [0.82387589, 0.17612411],
       [0.91566439, 0.08433561],
       [0.04794428, 0.95205572],
       [0.92276343, 0.07723657],
       [0.90356418, 0.09643582],
       [0.91127264, 0.08872736],
       [0.26892692, 0.73107308],
       [0.71968529, 0.28031471],
       [0.90155609, 0.09844391],
       [0.56233836, 0.43766164],
       [0.12395193, 0.87604807],
       [0.87254563, 0.12745437],
       [0.06665407, 0.93334593],
       [0.65746949, 0.34253051],
       [0.38099156, 0.61900844],
       [0.86936198, 0.13063802],
       [0.77168463, 0.22831537],
       [0.65467213, 0.34532787],
       [0.1788882 , 0.8211118 ],
       [0.68854541, 0.31145459],
       [0.80318128, 0.19681872],
       [0.05897039, 0.94102961],
       [0.26460285, 0.73539715],
       [0.55590609, 0.44409391],
       [0.88761407, 0.11238593],
       [0.52826181, 0.47173819],
       [0.18502884, 0.81497116],
       [0.38020891, 0.61979109],
       [0.35235889, 0.64764111],
       [0.87387938, 0.12612062],
       [0.33300274, 0.66699726],
       [0.88831594, 0.11168406],
       [0.73244557, 0.26755443],
       [0.241754  , 0.758246  ],
       [0.66316327, 0.33683673],
       [0.25434306, 0.74565694],
       [0.04702692, 0.95297308],
       [0.89945111, 0.10054889],
       [0.93119306, 0.06880694],
       [0.37978019, 0.62021981],
       [0.8736767 , 0.1263233 ],
       [0.27939478, 0.72060522],
       [0.7090488 , 0.2909512 ],
       [0.79891385, 0.20108615],
       [0.5455805 , 0.4544195 ],
       [0.23875812, 0.76124188],
       [0.72197881, 0.27802119],
       [0.89185375, 0.10814625],
       [0.05144003, 0.94855997],
       [0.93305106, 0.06694894],
       [0.84592704, 0.15407296],
       [0.8842856 , 0.1157144 ],
       [0.86314111, 0.13685889],
       [0.37579179, 0.62420821],
       [0.90132458, 0.09867542],
       [0.90175015, 0.09824985],
       [0.87865654, 0.12134346],
       [0.33310039, 0.66689961],
       [0.23119351, 0.76880649],
       [0.43631891, 0.56368109],
       [0.8195356 , 0.1804644 ],
       [0.61078966, 0.38921034],
       [0.77559567, 0.22440433],
       [0.06875202, 0.93124798],
       [0.86435326, 0.13564674],
       [0.73750347, 0.26249653],
       [0.6778547 , 0.3221453 ],
       [0.12402353, 0.87597647],
       [0.87741847, 0.12258153],
       [0.91569216, 0.08430784],
       [0.42367591, 0.57632409],
       [0.15411739, 0.84588261],
       [0.65736151, 0.34263849],
       [0.24357298, 0.75642702],
       [0.85973358, 0.14026642],
       [0.84685422, 0.15314578],
       [0.68212502, 0.31787498],
       [0.11962377, 0.88037623],
       [0.31149508, 0.68850492],
       [0.71974482, 0.28025518],
       [0.67523188, 0.32476812],
       [0.90768711, 0.09231289],
       [0.91377773, 0.08622227],
       [0.53316836, 0.46683164],
       [0.23887547, 0.76112453],
       [0.71842501, 0.28157499],
       [0.64823837, 0.35176163],
       [0.90139031, 0.09860969],
       [0.60054209, 0.39945791],
       [0.22901829, 0.77098171],
       [0.93917252, 0.06082748],
       [0.74136375, 0.25863625],
       [0.88880682, 0.11119318],
       [0.8987007 , 0.1012993 ],
       [0.29208214, 0.70791786],
       [0.12246125, 0.87753875],
       [0.03542062, 0.96457938],
       [0.74675084, 0.25324916],
       [0.08448726, 0.91551274],
       [0.57241048, 0.42758952],
       [0.96139435, 0.03860565],
       [0.41807308, 0.58192692],
       [0.10758955, 0.89241045],
       [0.67108929, 0.32891071],
       [0.80250541, 0.19749459],
       [0.34565334, 0.65434666],
       [0.89870799, 0.10129201],
       [0.67732443, 0.32267557],
       [0.84230245, 0.15769755],
       [0.94567341, 0.05432659],
       [0.31993038, 0.68006962],
       [0.90250933, 0.09749067],
       [0.08386153, 0.91613847],
       [0.86476493, 0.13523507],
       [0.62516845, 0.37483155],
       [0.90043621, 0.09956379],
       [0.19256979, 0.80743021],
       [0.64364088, 0.35635912],
       [0.15717314, 0.84282686],
       [0.90166516, 0.09833484],
       [0.90139031, 0.09860969],
       [0.14360938, 0.85639062],
       [0.89880966, 0.10119034]])

Нас интересует вероятность события 1 (правый столбец) - при получении ответа значения из него округляются до 0 или до 1

**Сохранение данных**

In [122]:
X_train.to_pickle('X_train.pkl')
y_train.to_pickle('y_train.pkl')

X_valid.to_pickle('X_valid.pkl')
y_valid.to_pickle('y_valid.pkl')