In [1]:
import pandas as pd
import numpy as np

### Series

Series - одна из структур данных библиотеки Pandas. Похожа на словарь, но является упорядоченной.

In [2]:
a = [2, 5, 7, 8, 3]

In [3]:
b = pd.Series(a)
b

0    2
1    5
2    7
3    8
4    3
dtype: int64

In [4]:
b = pd.Series(a, index=[0, 1, 2, 3, 4])
b

0    2
1    5
2    7
3    8
4    3
dtype: int64

In [5]:
b = pd.Series(a, index=['a', 'b', 'c', 'd', 'e'])
b

a    2
b    5
c    7
d    8
e    3
dtype: int64

In [6]:
from datetime import date

In [45]:
ind = [date(y, m, d) for y, m, d in [(2018, 1, 15), (2018, 1, 17), (2018, 1, 18), (2018, 1, 21), (2018, 1, 31)]]
date?

Init signature: date(self, /, *args, **kwargs)
Docstring:      date(year, month, day) --> date object
File:           /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/datetime.py
Type:           type
Subclasses:     datetime

In [8]:
b = pd.Series(a, index=ind)
b

2018-01-15    2
2018-01-17    5
2018-01-18    7
2018-01-21    8
2018-01-31    3
dtype: int64

In [9]:
b.index

Index([2018-01-15, 2018-01-17, 2018-01-18, 2018-01-21, 2018-01-31], dtype='object')

In [10]:
b.index[0].year

2018

In [11]:
b.index[0].month

1

In [12]:
b.index[0].day

15

In [13]:
b.index = pd.to_datetime(b.index, format='%Y-%m-%d')
b.index

DatetimeIndex(['2018-01-15', '2018-01-17', '2018-01-18', '2018-01-21',
               '2018-01-31'],
              dtype='datetime64[ns]', freq=None)

In [14]:
b.index.year

Index([2018, 2018, 2018, 2018, 2018], dtype='int32')

In [15]:
b.index.day

Index([15, 17, 18, 21, 31], dtype='int32')

In [16]:
b = pd.Series(a, index=[0, 1, 0, 2, 1])
b

0    2
1    5
0    7
2    8
1    3
dtype: int64

In [17]:
b.index = [10, 11, 12, 13, 14]
b

10    2
11    5
12    7
13    8
14    3
dtype: int64

In [18]:
b = pd.Series(a, dtype=np.float64)
b

0    2.0
1    5.0
2    7.0
3    8.0
4    3.0
dtype: float64

In [19]:
b = pd.Series(a)
b

0    2
1    5
2    7
3    8
4    3
dtype: int64

In [20]:
b = b.astype(np.float64)
b

0    2.0
1    5.0
2    7.0
3    8.0
4    3.0
dtype: float64

In [21]:
d = {'1st':'a', '2nd':'b', '3rd':'c', '4th':'d', '5th':'e'}

In [22]:
b = pd.Series(d)
b

1st    a
2nd    b
3rd    c
4th    d
5th    e
dtype: object

#### Просмотр данных

In [23]:
b = pd.Series([5, 2, 6, 1, 6, 6, 7])
b.index

RangeIndex(start=0, stop=7, step=1)

In [24]:
b.values

array([5, 2, 6, 1, 6, 6, 7])

In [25]:
b

0    5
1    2
2    6
3    1
4    6
5    6
6    7
dtype: int64

In [26]:
b[0], b[1]

(np.int64(5), np.int64(2))

In [27]:
b[[0, 6]]

0    5
6    7
dtype: int64

In [28]:
b.head()

0    5
1    2
2    6
3    1
4    6
dtype: int64

In [29]:
b.head(3)

0    5
1    2
2    6
dtype: int64

In [30]:
b.tail()

2    6
3    1
4    6
5    6
6    7
dtype: int64

In [31]:
b.tail(2)

5    6
6    7
dtype: int64

#### Выборка по условию

In [32]:
b

0    5
1    2
2    6
3    1
4    6
5    6
6    7
dtype: int64

In [33]:
b[b > 5]

2    6
4    6
5    6
6    7
dtype: int64

In [34]:
b[(b == 7) | (b % 3 == 0)]

2    6
4    6
5    6
6    7
dtype: int64

#### Изменение элементов

In [35]:
b = pd.Series([5, 2, 6, 1, 8, 7])
b

0    5
1    2
2    6
3    1
4    8
5    7
dtype: int64

In [36]:
b[0] = 4
b

0    4
1    2
2    6
3    1
4    8
5    7
dtype: int64

In [37]:
b[b < 5] = 0
b

0    0
1    0
2    6
3    0
4    8
5    7
dtype: int64

In [38]:
b[[0, 1, 2]] = 1
b

0    1
1    1
2    1
3    0
4    8
5    7
dtype: int64

#### Добавление данных

In [39]:
b[6] = 5
b[7] = 3
b

0    1
1    1
2    1
3    0
4    8
5    7
6    5
7    3
dtype: int64

#### Удаление данных по индексу

In [40]:
b = b.drop([0, 1, 2])
b

3    0
4    8
5    7
6    5
7    3
dtype: int64

#### Запись и чтение данных из файла

In [41]:
b.to_pickle('b.pkl')

In [42]:
b2 = pd.read_pickle('b.pkl')
b2

3    0
4    8
5    7
6    5
7    3
dtype: int64